 <h2 class="featurette-heading">Find us</h2>
      <div class="row-fluid">
        <div class="span6">
            <iframe height="500" width="421" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?ie=UTF8&amp;cid=3573941933259968287&amp;q=Bridgeway+Church&amp;gl=CA&amp;hl=en&amp;t=m&amp;ll=43.852355,-79.352875&amp;spn=0.495159,0.576782&amp;z=10&amp;output=embed"></iframe>
        </div>
        <div class="span6">
          <p class="lead">411 Gordon Baker Road, Toronto.</p>
          <p>We have Sunday service from 10:30am to 12pm. And because we have intergenerational worship, your entire family is welcome! Toddlers and children have separate sections and special activities, complete with kid-friendly snacks.</p>

<pre>Bridgeway Church
411 Gordon Baker Road
North York, Ontario
M2H 2S6
Telephone: 647.722.6677
Fax: 416.226.5308</pre>

          <h4>Need a ride?</h4>
          <p>You can take our school bus, departing <strong>Finch Passenger Pickup</strong> at precisely 10:00AM. Or, or take the TTC bus #24 - Victoria Park bus to Sparks Avenue and head west, or the #42 Cummer bus to Harold Evans and walk north on Gordon Baker. Of course, there's a bus to take you back as well!</p>
        </div>
      </div>
